.App{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: repeat(12,1fr);
  text-align: center;
}

.App .Header{
  width: 100%;
  grid-column:span 12;
  background-color: #EDD2F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .Main{
  width: 100%;
  grid-column:span 10;
  background-color: #FFFCDC;

}
.App .Menu{
  width: 100%;
  grid-column:span 2;
  background-color: hsl(194, 82%, 74%);;
} 


.App .Footer{
  width: 100%;
  grid-column:span 12;
  background-color: #516BEB;
  font-size: large;
  color: white;
}
StateCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #ffffff;
  overflow: hidden;
}

.BookCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.BookCard img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border:black solid 2px;
}

.BookCard .content {
  padding: 10px;
}

.BookCard .content h2 {
  font-size: 20px;
  margin-top: 0;
}

.BookCard .content p {
  font-size: 16px;
  margin-bottom: 0;
}
.BookCard img{
 height: 80px;
 width: 80px;
}